node_modules/
dist/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron builder / caches
*.blockmap
builder-debug.yml

# Local env / secrets
.env
.env.*

# Editor
.vscode/
.idea/
